*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/app/src/main/java/com/example/lockband/bt/
/thesis text/*.png
/thesis text/*.toc
/thesis text/Makefile
/thesis text/*.aux
/thesis text/*.bbl
/thesis text/aktyw.pdf
/thesis text/*.out
/thesis text/*.blg
/thesis text/praca.fdb_latexmk
/thesis text/*.log
/thesis text/*.synctex.gz
/thesis text/*.fls